<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      <img src="assets/images/logo.png" alt="logo" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="playSlideshow()">
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngIf="!photoService.photoTaken" button (click)="takePhoto()">
      <img src="assets/images/smile.png" alt="smile photo button">
    </ion-item>

    <!-- <ion-item-sliding *ngFor="let pic of photoService.pics"> -->
    <ion-item-sliding>
      <ion-item>
        <ion-item>
          <img src="https://placehold.it/100x100">
          <ion-badge slot="end" color="light">
            2 days ago
            <!-- {{pic.dateTaken | daysAgo}} days ago -->
          </ion-badge>
        </ion-item>
      </ion-item>

      <ion-item-options>
        <ion-item-option 
          button 
          color="danger" 
          (click)="deletePhoto(pic)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>